body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#estatPartida {
    margin-bottom: 10px; 
}

#partida {
    border: 1px solid #000;
    padding: 20px;
}

button {
    margin: 5px;
}
